<h1> Liste des films </h1>
<% @movies.each do |movie| %>
    <p> <%= movie.title %>, sortie en <%= movie.release_year %></p>

    #consulter un film en particulier#
    <p>
        <a href="<%= movie_path(movie.id) %>" class="btn btn-primary">Lire la suite</a>
        <a href="<%= edit_movie_path(movie.id) %>" class="btn btn-default">Editer</a>

    </P>
<% end %> 

<p>
    <a href="<%= new_movie_path %>" class="btn btn-success">Créer un film</a>
</p>
    